@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-7xl leading-[1.4] tracking-[-2%] font-medium;
  }
  h2 {
    @apply text-5xl leading-[1.4] tracking-[-1px] font-medium;
  }
  h3 {
    @apply text-[24px] lg:text-[32px] leading-[1.4] tracking-[-1%] font-medium;
  }
  h4 {
    @apply text-[20px] lg:text-[28px]   leading-[1.4] tracking-[-1%] font-medium;
  }
  p {
    @apply m-0;
  }
}

@layer components {
  .body-1 {
    @apply font-normal   text-xl leading-[170%]  text-white;
  }
  .body-2 {
    @apply font-normal text-base leading-[160%]  text-white;
  }
  .body-3 {
    @apply font-normal text-sm leading-[180%]  text-white;
  }
  .subtitle {
    @apply font-medium  text-lg leading-[140%]  text-white;
  }
  .subtitle-2 {
    @apply font-normal text-base leading-[140%]  text-white;
  }
  .button {
    @apply font-normal text-base leading-[120%]  text-white;
  }
  .button-small {
    @apply font-normal text-sm leading-[140%]  text-white;
  }
  .caption {
    @apply font-normal text-xs leading-[140%]  text-white;
  }
  .caption-2 {
    @apply font-normal text-[10px] leading-[140%]  text-white;
  }
}
